* {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body.show-popup::after {
	content: "";
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image:url("images/flames.gif");
	opacity: 0.8;
	background-size: 60%;
}


div.first {
	margin-top: 94px;

}

.time-allocation, .time-fuck {
	height: 100px;
	background: rgb(172, 172, 172);
	width: 50px;
	float: right;
	position: relative;
	
}
.time-allocation::after { /* Show 30% break minimum */
	content: "";
	position: absolute;
	left: -5px;
	right: -5px;
	height: 1px;
	background-color: red;
	bottom: 30px;
}
.sortable-list span[data-type="1"],
.time-allocation div[data-type="1"] {
	background-color: #9b5cba;
	color: white;
}

.sortable-list span[data-type="2"],
.time-allocation div[data-type="2"] {
	background-color: #eba661;
}

.sortable-list span[data-type="3"],
.time-allocation div[data-type="3"] {
	background-color: #7cb4f8;
	color: #122444;
}

.sortable-list span[data-type="4"],
.time-allocation div[data-type="4"] {
	background-color: #8af879;
	color: #335f28;
}

button{
	background-color: #44a344;
	color: white;
	margin: 20px auto;
	padding: 30px;
	display: block;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
}
button:hover {
	background-color: #419941;
}

button#add-activity {
	padding: 8px;
	width: 100%;
}

button.red {
	background-color: red;
}
button.green {
	background-color: green;
}

input, textarea, select {
	display: block;
	padding: 6px;
	width: 100%;
	font-size: 14px;
	resize: none;
}
input.inline {
	display: inline-block;
	width: 60%;
}

#editActi {
	display: none;
	position: fixed;
	width: 400px;
	min-height: 200px;
	background-color: rgb(243, 243, 243);
	top: 50%;
	left: 50%;
	margin-left: -200px;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 4px;
	margin-top: -100px;
	z-index: 1;
}

#editActi button {
	padding: 5px 16px;
	display: inline-block;
}




/* Parked activities */

.column.left.first {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: rgb(247, 247, 247);
	border-right: 1px solid rgb(206, 206, 206);
	padding: 30px;
	width: 300px;
	margin-top: 0;
}


button#add-day {
	display: inline-block;
	margin: 80px;
}