/*
	Stylesheet for examples by DevHeart.
	http://devheart.org/

	Article title:	jQuery: Customizable layout using drag n drop
	Article URI:	http://devheart.org/articles/jquery-customizable-layout-using-drag-and-drop/

	Example title:	1. Getting started with sortable lists
	Example URI:	http://devheart.org/examples/jquery-customizable-layout-using-drag-and-drop/1-getting-started-with-sortable-lists/index.html
*/

/*
	Alignment
------------------------------------------------------------------- */

/* Floats */

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
}


/*
	Example specifics
------------------------------------------------------------------- */

/* Layout */

#center-wrapper {
	margin-left: 370px;
}
.column input{
	width: 90px;
	border: groove;
	margin-left: inherit;
	display: inline-block;
}
.column #startTime{
	width: 70px;
	display: inline-block;
}

/* Columns */

.column {
	margin-left: 2%;
	width: 32%;
}
.column.first {margin-left: 0;}



/* ONLY FOR DEMO! REMOVE LATER! */
.column.demo {
	display: none;
}


/* Sortable items */

.sortable-list {
	list-style: none;
	margin: 0;
	border: dashed 2px;
	min-height: 60px;
	padding: 10px;
}

.sortable-list li {
	min-width: 270px;
}

/*.sortable-item {
	background-color: #FFF;
	border: 1px solid #000;
	cursor: move;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 20px 0;
	text-align: center;
}*/

.sortable-item-time {
	background-color: #E0E0E0;
	border: 1px solid #000;
	cursor: move;
	display: inline-block;
	width: 70px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 20px 0;
	text-align: center;
}

.sortable-item-name {
	background-color: #FFF;
	border: 1px solid #000;
	cursor: move;
	display: inline-block;
	width: 190px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 20px 0;
	text-align: left;
	text-indent: 10px;
}



/* Containment area */

#containment {
	background-color: #FFA;
	height: 230px;
}


/* Item placeholder (visual helper) */

.placeholder {
	background-color: #BFB;
	border: 1px dashed #666;
	height: 58px;
	margin-bottom: 5px;
}